FQDN='host.example.com'
HOSTNAME_SHORT='host'
INTERFACE_MAC='52:54:00:12:34:56'
STATIC_IP_CIDR='192.168.0.50/24'
STATIC_IP='192.168.0.50'
GATEWAY_IP='192.168.0.1'
NAMESERVERS_YAML='        - 192.168.0.1
        - 1.1.1.1'
TIMEZONE='Europe/Berlin'
NEXUS_APT_ARCHIVE_URL='http://nexus.example.com/repository/apt-ubuntu-archive/'
NEXUS_APT_SECURITY_URL='http://nexus.example.com/repository/apt-ubuntu-security/'
ROOT_PASSWORD_HASH='$y$replace_with_root_yescrypt_hash'
SYSADMIN_PASSWORD_HASH='$y$replace_with_sysadmin_yescrypt_hash'
SYSADMIN_SSH_PUBKEY='ssh-ed25519 AAAA... sysadmin@example'
ANSIBLE_SSH_PUBKEY='ssh-ed25519 AAAA... ansible@example'
